.form {
    background: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 24px;
    width: 230px;
    min-height: 156px;
    font-family: "Montserrat", "Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

label {
    font-family: "Montserrat", "Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
}

.email, .password{
    border: 1px solid #808080;
    border-radius: 4px;
    width: 212px;
    height: 20px;
    margin: 10px 0;
    padding: 8px 0 8px 16px;
    font-family: "Montserrat", "Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
}

.email:hover, .password:hover {
    border: 1px solid #1a154d;
}

.email:active:placeholder {
    content: "Type area";
    font-family: "Montserrat", "Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
}

.add {
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 86px;
    height: 40px;
    background: #4e75ff;
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-left: 50px;
    font-family: "Montserrat", "Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add:hover,
.add:focus {
    background: #6c8cff;
}